**/.git
**/.gitignore
**/.dockerignore
**/.env
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.DS_Store
**/node_modules
**/*.md
**/*.txt
**/.github
**/.idea
**/.env.*
**/appsettings.Development.json
**/logs
**/temp
**/wwwroot/uploads
**/*.*~
**/*._*
**/docker-compose*
**/*.user
**/*.suo
**/__pycache__
**/.pytest_cache
**/.gitkeep
